<!-- Testimonials section-->
<section class="bg-light py-5 border" id="testimonials">
  <div class="container px-5 my-5 px-5">
      <div class="text-center mb-5">
          <h2 class="fw-bolder">Comentarios de nuestros clientes</h2>
          <p class="lead mb-0">Quienes prueban nuestro servicio, siempre regresan.</p>
      </div>
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-6">
              <!-- Testimonial 1-->
              <div class="card mb-4">
                  <div class="card-body p-4">
                      <div class="d-flex">
                          <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                          <div class="ms-4">
                              <p class="mb-1">"¡Estoy muy contento con el servicio de reserva de autolavado! Fue muy fácil de usar y pude reservar un horario en pocos minutos. Además, el lavado quedó excelente, ¡mi auto parecía como nuevo! Definitivamente recomendaré este servicio a mis amigos y familiares. ¡Gracias por un trabajo bien hecho!"</p>
                              <div class="small text-muted">- Carlos Martinez, Laureles, Armenia</div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Testimonial 2-->
              <div class="card">
                  <div class="card-body p-4">
                      <div class="d-flex">
                          <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                          <div class="ms-4">
                              <p class="mb-1">"Estoy muy impresionada con el servicio de reserva de autolavado. El personal fue muy amable y servicial en todo momento, y el proceso de reserva fue muy sencillo. Mi auto quedó impecable después del lavado, y el precio fue muy razonable. Sin duda volveré a utilizar este servicio en el futuro y lo recomendaré a cualquiera que necesite un lavado de calidad para su auto. ¡Gracias por un servicio excepcional!"</p>
                              <div class="small text-muted">- Sofia Henao, Las Americas, Armenia</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
