@import "../../../../app/app.component.scss";
.cards{
  width:950px;
  padding-left: 5px;
}
.filter{
  width: 220px;
  height: 100%;
  padding-right: 10px;

}
.filter-top{
  width: 950px;
}
.container{
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  width: 100%;
  min-height: calc(100vh - 30px);
  padding-top: 15px;
}
header{
  background-color: black;
  width: 100%;
  height: 30px;
}
.lol{
  display: flex;
  justify-content: center;
  padding: 25px 40px;
  background-color: #FFFFFF;
  border-radius: 20px;
}