
<!-- Pricing section-->
<section class="bg-light py-5 border">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 text-center">
        <h1>¡Bienvenido a LavaSoft!</h1>
        <p>¡Somos el servicio que tu vehiculo necesita para lucir y oler como nuevo, sin perder tiempo!</p>

        <a class="btn btn-primary btn-xl" href="#services">¡Descubre como!</a>




        <p>Y siguenos en redes para no pederte<br>nuestras novedades.</p>
        <div class="social-media m-5">
          <a href="https://www.facebook.com/LavaSoft-100110000000000" target="_blank" rel="noopener" title="social media link"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/lavasoft/" target="_blank" rel="noopener" title="social media link"><i class="bi bi-instagram"></i></a>
          <a href="https://twitter.com/LavaSoft" target="_blank" rel="noopener" title="social media link"><i class="bi bi-twitter"></i></a>
          <a href="https://www.tiktok.com/@lavasoft" target="_blank" rel="noopener" title="social media link"><i class="bi bi-tiktok"></i></a>
        </div>



      </div>

      <div class="col-lg-6 col-md-12">
        <img src="../../../../assets/img/Por-que-LavaSoft.png" alt="Imagen de bienvenida" class="img-fluid">
      </div>
    </div>
  </div>

</section>
