
<!-- si usuario no es nullo : -->
<div *ngIf="usuario">
  <form (submit)="actualizarPerfil()">
    <input [(ngModel)]="usuario.nombre" name="nombre" type="text" />
    <input [(ngModel)]="usuario.apellido" name="apellido" type="text" />
    <input [(ngModel)]="usuario.correo_electronico" name="email" type="text" />
    <input [(ngModel)]="usuario.telefono" name="telefono" type="text" />

    <button type="submit">Actualizar</button>
  </form>
</div>


  <!-- Mensaje error -->
  <p *ngIf="mensajeError" class="error-msg">{{ mensajeError }}</p>