<!-- Services-->
<section class="bg-light py-5 border" id="services">
  <div class="container pt-5">
    <div class="text-center mb-5">
        <h2 class="section-heading text-uppercase">Nuestros Servicios</h2>
        <h3 class="section-subheading text-muted">¿Por que elegirnos?</h3>
    </div>
    <div class="row text-center">
        <div class="col-md-4 mb-5">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="h4 fw-bolder my-3">Valor agregado 1</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            <a class="text-decoration-none" href="#!">
              Reserva ahora
              <i class="bi bi-arrow-right"></i>
            </a>
        </div>
        <div class="col-md-4 mb-5">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="h4 fw-bolder my-3">Valor agregado 2</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            <a class="text-decoration-none" href="#!">
              Reserva ahora
              <i class="bi bi-arrow-right"></i>
            </a>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="h4 fw-bolder my-3">Valor agregado 3</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            <a class="text-decoration-none" href="#!">
              Reserva ahora
              <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
</div>
</section>
<section class="bg-light py-5 border justify-content-center align-items-center">
  <div class="contaier mb-5">
    <div class="contenedor-padre">
      <div class="contenedor-hijo">
        <!-- Contenido del contenedor hijo -->
      </div>
    </div>

  </div>
  <div class="container mt-3">
    <h1>steper</h1>
  </div>





</section>






