<div class="container">
  <div class="progress-bar">
    <div class="steps" *ngFor="let elemento of elementos">
        <p>{{ elemento.texto }}</p>
        <div class="number" [ngClass]="{'active': elemento.activo}">
          <span>{{ elemento.contenido }}</span>
        </div>
      </div>
  </div>
  <h2>Bienvenido a LavaSoft</h2>
  <p>Registrate ahora y haz tu reservacion.</p>
  <div class="form-container">
    <form [formGroup]="usuarioForm">
      <!-- Pagina 1 -->
      <div class="page movPage" [ngStyle]="{'margin-left': marginLeft}">
        <h4>Informacion principal</h4>

        <div class="input-container">
          <img
            src="../../../../assets/imgs/tarjeta-de-identificacion.png"
            class="img-diferent"
            alt=""
          />

          <input
            class="input_text_form"
            type="text"
            id="name"
            placeholder="Nombres"
            formControlName="name"
          />
        </div>
        <div class="errors">
          <div
            *ngIf="
              usuarioForm.get('name').invalid &&
              (usuarioForm.get('name').dirty ||
                usuarioForm.get('password').touched)
            "
            class="text-danger"
          >
            <div *ngIf="usuarioForm.get('name').hasError('required')">
              Este campo es requerido
            </div>
          </div>
        </div>

        <div class="input-container">
          <img
            src="/assets/imgs/tarjeta-de-identificacion.png"
            class="img-diferent"
            alt=""
          />

          <input
            class="input_text_form"
            type="text"
            id="lastname"
            placeholder="Apellidos"
            formControlName="lastname"
          />
        </div>

        <div class="errors">
          <div
            *ngIf="
              usuarioForm.get('lastname').invalid &&
              usuarioForm.get('lastname').dirty
            "
            class="text-danger"
          >
            <div *ngIf="usuarioForm.get('lastname').hasError('required')">
              Este campo es requerido
            </div>
          </div>
        </div>

        <div class="input-container">
          <img
            src="../../../../assets/imgs/tarjeta-de-identificacion.png"
            class="img-diferent"
            alt=""
          />

          <input
            class="input_text_form"
            type="text"
            id="cc"
            placeholder="C.C"
          />

          <Select>
            <option value="-1" selected disabled>Tipo</option>
            <option value="0">C.C</option>
            <option value="1">C.E</option>
          </Select>
        </div>

        <div class="button siguiente-page2">
          <button (click)="siguiente('2')">Siguiente</button> 
        </div>
      </div>

      <!-- Pagina 2 -->

      <div class="page">
        <h4>Informacion Secundaria</h4>

        <div class="input-container">
          <input
            class="input_text_form"
            type="date"
            id="date"
          />
        </div>

        <div class="input-container">
          <img src="../../../../assets/imgs/genero.png" alt="" />

          <select id="sex">
            <option value="-1" disabled selected>Seleccione su genero</option>
            <option value="0">Hombre</option>
            <option value="1">Mujer</option>
            <option value="2">Prefiero no decirlo</option>
          </select>
        </div>

        <div class="buttons">
          <button (click)="anterior('2')" class="volver-page1 volver">Atras</button>
          <button (click)="siguiente('3')" class="siguiente-page3 siguiente">Siguiente</button>
        </div>
      </div>

      <!-- Pagina 3 -->

      <div class="page">
        <h4>Contacto</h4>

        <div class="input-container">
          <img src="../../../../assets/imgs/correo-electronico.png" alt="" />

          <input
            class="input_text_form"
            type="text"
            id="email"
            formControlName="email"
            placeholder="Correo electronico"
          />
        </div>

        <div class="errros">
          <div
            *ngIf="
              usuarioForm.get('email').invalid && usuarioForm.get('email').dirty
            "
            class="text-danger"
          >
            <div *ngIf="usuarioForm.get('email').hasError('required')">
              Este campo es requerido
            </div>
            <div *ngIf="usuarioForm.get('email').hasError('email')">
              El correo electrónico no es válido
            </div>
          </div>
        </div>

        <div class="input-container">
          <img src="../../../../assets/imgs/llamada-telefonica.png" alt="" />

          <input
            class="input_text_form"
            type="text"
            id="cel"
            formControlName="cel"
            placeholder="Telefono celular"
          />
        </div>

        <div class="buttons">
          <button (click)="anterior('3')" class="volver-page2 volver">Atras</button>
          <button (click)="siguiente('4')" class="siguiente-page4 siguiente">Siguiente</button>
        </div>
      </div>

      <!-- Pagina 4 -->

      <div class="page">
        <h4>Contraseña</h4>

        <div class="input-container">
          <img src="../../../../assets/imgs/candado.png" alt="" />

          <input
            class="input_text_form"
            type="password"
            id="password"
            formControlName="password"
            placeholder="Contraseña"
          />

          <div class="eyes">
            <img src="../../../../assets/imgs/show.png" id="show" alt="" />
            <img src="../../../../assets/imgs/oculto.png" id="noshow" alt="" />
          </div>
        </div>

        <div class="erros">
          <div
            *ngIf="
              usuarioForm.get('password').invalid &&
              usuarioForm.get('password').dirty
            "
            class="text-danger"
          >
            <div *ngIf="usuarioForm.get('password').hasError('required')">
              Este campo es requerido
            </div>
            <div *ngIf="usuarioForm.get('password').hasError('minlength')">
              La contraseña debe tener al menos 8 caracteres
            </div>
          </div>
        </div>

        <div class="input-container">
          <img src="../../../../assets/imgs/recargar.png" alt="" />

          <input
            class="input_text_form"
            type="password"
            id="password-confirm"
            placeholder="Confirmar Contraseña"
          />
        </div>

        <div class="buttons">
          <button (click)="anterior('4')" class="volver-page3 volver">Atras</button>
          <button class="fin" (click)="finalizar()">Finalizar</button>
        </div>
      </div>
    </form>
    <div class="slogan">
      <p>
        ¡Cuida tu auto con LavaSoft y obtén el mejor servicio de lavado en la
        ciudad! Regístrate ahora y elige el lavadero más cercano y la hora que
        mejor se adapte a tus necesidades.
      </p>
    </div>
  </div>
</div>
