<!-- Pricing section-->
<section class="bg-light py-5 border-bottom">
  <div class="container px-5 my-5">
      <div class="text-center mb-5">
          <h2 class="fw-bolder">Nuestros mejores servicios</h2>
          <p class="lead mb-0">Estos son los servicios más reservados</p>
      </div>
      <div class="row gx-5 justify-content-center">
          <!-- Pricing card free-->
          <div class="col-lg-6 col-xl-4">
              <div class="card mb-5 mb-xl-0">
                  <div class="card-body p-5">
                      <div class="small text-uppercase fw-bold text-muted">Lavado Sencillo</div>
                      <div class="mb-3">
                          <span class="display-4 fw-bold">$15.000</span><br>
                          <span class="text-muted">/ carro particular.</span>
                      </div>
                      <ul class="list-unstyled mb-4">
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              <strong>aspecto a destacar del servicio</strong>
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              incluido en el servicio
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              incluido en el servicio
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              incluido en el servicio
                          </li>
                          <li class="mb-2 text-muted">
                              <i class="bi bi-x"></i>
                              NO incluido en el servicio
                          </li>
                          <li class="mb-2 text-muted">
                              <i class="bi bi-x"></i>
                              NO incluido en el servicio
                          </li>
                          <li class="mb-2 text-muted">
                              <i class="bi bi-x"></i>
                              NO incluido en el servicio
                          </li>
                          <li class="text-muted">
                              <i class="bi bi-x"></i>
                              NO incluido en el servicio
                          </li>
                      </ul>
                      <div class="d-grid"><a class="btn btn-primary" href="#!">Reservar</a></div>
                      <div class="d-grid"><a class="btn btn-outline-primary mt-2" href="#!">Ver más opciones</a></div>
                  </div>
              </div>
          </div>
          <!-- Pricing card pro-->
          <div class="col-lg-6 col-xl-4">
              <div class="card mb-5 mb-xl-0">
                  <div class="card-body p-5">

                      <div class="small text-uppercase fw-bold text-muted">
                        <i class="bi bi-star-fill text-warning"></i>
                        Lavado Sencillo Convenios</div>
                      <div class="mb-3">
                          <span class="display-4 fw-bold">$10.000</span><br>
                          <span class="text-muted">/ taxi - uber.</span>
                      </div>
                      <ul class="list-unstyled mb-4">
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              <strong>aspecto a destacar del servicio</strong>
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              incluido en el servicio
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              incluido en el servicio
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              incluido en el servicio
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              incluido en el servicio
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              incluido en el servicio
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              incluido en el servicio
                          </li>
                          <li class="text-muted">
                              <i class="bi bi-x"></i>
                              NO incluido en el servicio
                          </li>
                      </ul>
                      <div class="d-grid"><a class="btn btn-primary" href="#!">Reservar</a></div>
                      <div class="d-grid"><a class="btn btn-outline-primary mt-2" href="#!">Ver más opciones</a></div>
                  </div>
              </div>
          </div>
          <!-- Pricing card enterprise-->
          <div class="col-lg-6 col-xl-4">
              <div class="card">
                  <div class="card-body p-5">
                      <div class="small text-uppercase fw-bold text-muted">Lavado Sencillo Delivery (Moto)</div>
                      <div class="mb-3">
                          <span class="display-4 fw-bold">$7000</span><br>
                          <span class="text-muted">/ domicilios - mensajeros - telecomunicaciones.</span>
                      </div>
                      <ul class="list-unstyled mb-4">
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              <strong>aspecto a destacar del servicio</strong>
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              incluido en el servicio
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              incluido en el servicio
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              incluido en el servicio
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              incluido en el servicio
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              incluido en el servicio
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              <strong>adicional</strong>
                              incluido en el servicio
                          </li>
                          <li class="text-muted">
                              <i class="bi bi-x text-muted"></i>
                              NO incluido en el servicio
                          </li>
                      </ul>
                      <div class="d-grid"><a class="btn btn-primary" href="#!">Reservar</a></div>
                      <div class="d-grid"><a class="btn btn-outline-primary mt-2" href="#!">Ver más opciones</a></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
