<div class="container-cards">
    <div class="container">
        <div class="container-img">
            <img src="{{lavadero.imagenes[0]}}" alt="">
        </div>
        <div class="data-carwash">
            <div class="data">
                <h2>{{lavadero.nombre}}</h2>
                <div id="stars">★★★★★</div>
            </div>
            <div class="data">
                <div class="ubication-container"><i class="fi fi-sr-marker icon-ubication"></i> <span id="ubication">{{lavadero.ciudad}}</span></div>
                <div class="container-icons">
                    <strong>vehiculos que manejamos:</strong>
                    <i class="fi fi-ss-motorcycle icon"></i>
                    <i class="fi fi-br-car icon"></i>
                    <i class="fi fi-bs-truck-pickup icon"></i>
                    <i class="fi fi-bs-truck-moving icon"></i>
                    <i class="fi fi-rr-bus icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>